<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <a href="/" class="footer__logo">
                <img src="{{ asset('build/images/logo-white.png') }}" srcset="{{ asset('build/images/logo-white@2x.png') }} 2x" alt="" loading="lazy">
            </a>
            <div class="footer__menu">
                <ul class="footer__menu-list">
                    {% for item_menu in menu %}
                        <li class="footer__menu-li">
                            <a href="{{ item_menu.url }}" class="footer__menu-a j-scroll">
                                {{ item_menu.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer__social">
                <div class="social social--green">
                    <ul class="social__list">
                        <li class="social__li">
                            <a href="https://www.tiktok.com/@muzone_hub" class="social__a social__a--linkedin" target="_blank">
                                <svg>
                                    <use xlink:href="{{ asset('build/images/icons.svg') }}#tiktok"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__li">
                            <a href="https://t.me/muzonefam" class="social__a social__a--twitter" target="_blank">
                                <svg>
                                    <use xlink:href="{{ asset('build/images/icons.svg') }}#telegram"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__li">
                            <a href="https://www.instagram.com/muzone_music_hub/" class="social__a social__a--instagram" target="_blank">
                                <svg>
                                    <use xlink:href="{{ asset('build/images/icons.svg') }}#instagram"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
