<section class="gift" id="gift">
    <svg class="gift__line1 line">
        <use xlink:href="{{ asset('build/images/icons.svg') }}#line2"/>
    </svg>
    <svg class="gift__line2 line">
        <use xlink:href="{{ asset('build/images/icons.svg') }}#line2"/>
    </svg>
    <div class="container">
        <div class="title-sec">Подарунковий сертифікат</div>
        <div class="gift__desc">
            <p> Сертифікат на музичні заняття - оригінальний та несподіваний подарунок 🎁</p>
            <br />
            <ul>
                <li>🎯 Гнучкість: Оберіть напрямок, який вас цікавить, або дозвольте одержувачу сертифікату самому вибрати. Відкривайте нові горизонти та насолоджуйтесь музикою на повну!</li>
                <li>📅 Зручний графік: Одержувач сертифікату може сам обрати час занять, що найбільше йому підходить. Більше жодних відмовок, лише музика!</li>
            </ul>
            <br />
            <p>Не вагайтеся, оберіть напрямок або зв'яжіться з нами, і ми з радістю допоможемо зробити вибір 😉🚀  </p>
        </div>
        <div class="gift__sert">
            <svg class="gift__sert-line1 line">
                <use xlink:href="{{ asset('build/images/icons.svg') }}#line2"/>
            </svg>
            <svg class="gift__sert-line2 line">
                <use xlink:href="{{ asset('build/images/icons.svg') }}#line2"/>
            </svg>
            <div class="gift__imgs">
                {% for certificate in certificates %}
                    <div class="gift__img gift__img--{{ loop.index}} j-wow j-wow-bottom" data-delay="{{ loop.index * 0.2}}">
                        <img src="{{ asset(certificate.img) }}" srcset="{{ asset(certificate.img2x) }} 2x" alt="" loading="lazy">
                    </div>
                {% endfor %}
            </div>
            <div class="gift__inner">
                <div class="gift__logo">
                    <img src="{{ asset('build/images/logo-white.png') }}" srcset="{{ asset('build/images/logo-white@2x.png') }} 2x" alt="" loading="lazy">
                </div>
                <div class="gift__title j-wow j-wow-bottom">
                    Подарунковий сертифікат
                </div>
                <form class="trial__form  form j-form j-wow j-wow-right" novalidate>
                    <div class="trial__form-form">
                        <label class="input">
                            <div class="phone j-phone">
                                <div class="phone__label">
                                    <div class="phone__item j-phone-bl active">
                                        <input name="your_phone" type="tel" class="phone__input j-phone-mask" placeholder="Телефон" required>
                                        <div class="input__icon">
                                            <svg width="18" height="20">
                                                <use xlink:href="{{ asset('build/images/icons.svg') }}#phone"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="phone__item j-phone-bl">
                                        <input name="your_telegram" type="text" class="phone__input" placeholder="Telegram">
                                        <div class="input__icon">
                                            <svg width="18" height="20">
                                                <use xlink:href="{{ asset('build/images/icons.svg') }}#telegram"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="phone__item j-phone-bl">
                                        <input name="your_instagram" type="text" class="phone__input" placeholder="Instagram">
                                        <div class="input__icon">
                                            <svg width="18" height="20">
                                                <use xlink:href="{{ asset('build/images/icons.svg') }}#instagram"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="phone__arrow" data-target="#phone-list3">
                                    <svg>
                                        <use xlink:href="{{ asset('build/images/icons.svg') }}#arrow"/>
                                    </svg>
                                </div>
                                <ul class="phone__list" id="phone-list3">
                                    <li class="phone__list-li">
                                        <div class="phone__list-item phone__list-item--phone j-phone-item active">
                                            <div class="phone__list-icon">
                                                <svg>
                                                    <use xlink:href="{{ asset('build/images/icons.svg') }}#phone"/>
                                                </svg>
                                            </div>
                                            <div class="phone__list-title">
                                                Телефон
                                            </div>
                                        </div>
                                    </li>
                                    <li class="phone__list-li">
                                        <div class="phone__list-item phone__list-item--telegram j-phone-item">
                                            <div class="phone__list-icon">
                                                <svg>
                                                    <use xlink:href="{{ asset('build/images/icons.svg') }}#telegram"/>
                                                </svg>
                                            </div>
                                            <div class="phone__list-title">
                                                Telegram
                                            </div>
                                        </div>
                                    </li>
                                    <li class="phone__list-li">
                                        <div class="phone__list-item phone__list-item--instagram j-phone-item">
                                            <div class="phone__list-icon">
                                                <svg>
                                                    <use xlink:href="{{ asset('build/images/icons.svg') }}#instagram"/>
                                                </svg>
                                            </div>
                                            <div class="phone__list-title">
                                                Instagram
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </label>
                        <input name="direction" type="hidden" value="certificate" />
                        <div class="form__btn">
                            <button class="btn btn--green" type="submit">Придбати</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
