<section class="specials">
    <div class="container">
        <svg class="specials__line3 line">
            <use xlink:href="{{ asset('build/images/icons.svg') }}#line2"/>
        </svg>
        <div class="specials__banner">
            <div class="specials__banner__sale-price">
                <p>-40%</p>
            </div>
            <video class="specials__banner__background-video" autoplay loop muted>
                <source src="{{ asset('build/videos/wow.webm') }}" type="video/mp4">
            </video>
            <div class="specials__inner">
                <div class="specials__title j-wow j-wow-bottom">
                    Даруємо знижки
                </div>
                <div class="specials__subtitle j-wow j-wow-bottom">
                    до відкриття <span>другого</span> хабу
                </div>
                <div class="specials__desc-wrapper">
                    <div class="specials__desc-left-col j-wow j-wow-left">

                        <div class="specials__description">
                            <p>Купуй абонемент або подарунковий сертифікат зі знижкою -40% 😍 </p>
                        </div>
                        <div class="specials__conditions">
                            <ul>
                                <li>✅ Скористатися можна впродовж 2 місяців, починаючи з відкриття нового хабу</li>
                                <li>✅ Використати можна в нашому новому хабі за адресою <span>Одеса, вул. Пастера, 52</span></li>
                                <li>✅ Ви (або одержувач сертифіката) можете самі обрати час занять та зручну кількість уроків</li>
                                <li>✅ Діє на всі напрямки, для онлайн та офлайн занять</li>
                                <li>✅ Індивідуальна система навчання для кожного учня</li>
                            </ul>
                        </div>
                    </div>
                    <div class="specials__desc-right-col">
                        <form class="trial__form  form j-form j-wow j-wow-right" novalidate>
                        <div class="trial__form-form">
                            <label class="input">
                                <div class="phone j-phone">
                                    <div class="phone__label">
                                        <div class="phone__item j-phone-bl active">
                                            <input name="your_phone" type="tel" class="phone__input j-phone-mask" placeholder="Телефон" required>
                                            <div class="input__icon">
                                                <svg width="18" height="20">
                                                    <use xlink:href="{{ asset('build/images/icons.svg') }}#phone"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="phone__item j-phone-bl">
                                            <input name="your_telegram" type="text" class="phone__input" placeholder="Telegram">
                                            <div class="input__icon">
                                                <svg width="18" height="20">
                                                    <use xlink:href="{{ asset('build/images/icons.svg') }}#telegram"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="phone__item j-phone-bl">
                                            <input name="your_instagram" type="text" class="phone__input" placeholder="Instagram">
                                            <div class="input__icon">
                                                <svg width="18" height="20">
                                                    <use xlink:href="{{ asset('build/images/icons.svg') }}#instagram"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="phone__arrow" data-target="#phone-list3">
                                        <svg>
                                            <use xlink:href="{{ asset('build/images/icons.svg') }}#arrow"/>
                                        </svg>
                                    </div>
                                    <ul class="phone__list" id="phone-list3">
                                        <li class="phone__list-li">
                                            <div class="phone__list-item phone__list-item--phone j-phone-item active">
                                                <div class="phone__list-icon">
                                                    <svg>
                                                        <use xlink:href="{{ asset('build/images/icons.svg') }}#phone"/>
                                                    </svg>
                                                </div>
                                                <div class="phone__list-title">
                                                    Телефон
                                                </div>
                                            </div>
                                        </li>
                                        <li class="phone__list-li">
                                            <div class="phone__list-item phone__list-item--telegram j-phone-item">
                                                <div class="phone__list-icon">
                                                    <svg>
                                                        <use xlink:href="{{ asset('build/images/icons.svg') }}#telegram"/>
                                                    </svg>
                                                </div>
                                                <div class="phone__list-title">
                                                    Telegram
                                                </div>
                                            </div>
                                        </li>
                                        <li class="phone__list-li">
                                            <div class="phone__list-item phone__list-item--instagram j-phone-item">
                                                <div class="phone__list-icon">
                                                    <svg>
                                                        <use xlink:href="{{ asset('build/images/icons.svg') }}#instagram"/>
                                                    </svg>
                                                </div>
                                                <div class="phone__list-title">
                                                    Instagram
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </label>
                            <input name="direction" type="hidden" value="sales" />
                            <div class="form__btn">
                                <button class="btn btn--green" type="submit">Придбати</button>
                            </div>
                        </div>
                    </form>
                        <div class="specials__terms j-wow j-wow-right">
                            <p>Пропозиція дійсна для:</p>
                            <ul class="specials__terms-list">
                                <li>➡️ для нових учнів</li>
                                <li>➡️ поточних учнів на другий інструмент</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="specials__prices">
                <div class="specials__prices-row">
                    <div class="specials__prices-col">
                        <div class="specials__prices-title">
                            👶 Для дітей (до 12 років):
                        </div>
                        <div class="specials__prices-list">
                            <div class="specials__prices-item">
                                <div class="specials__prices-item-title">
                                    4 заняття
                                </div>
                                <div class="specials__prices-item-price">
                                     <span class="specials__price-old">₴ 1500</span><span class="specials__price-new">₴ 900</span>
                                </div>
                            </div>
                            <div class="specials__prices-item">
                                <div class="specials__prices-item-title">
                                    8 занять
                                </div>
                                <div class="specials__prices-item-price">
                                    <span class="specials__price-old">₴ 2850</span><span class="specials__price-new">₴ 1710</span>
                                </div>
                            </div>
                            <div class="specials__prices-item">
                                <div class="specials__prices-item-title">
                                    Групові уроки <span class="mobile-hide">(4 заняття) </span>
                                </div>
                                <div class="specials__prices-item-price">
                                    <span class="specials__price-old">₴ 900</span> <span class="specials__price-new">₴ 660 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="specials__prices-col">
                        <div class="specials__prices-title">
                            👨👩 Для дорослих:
                        </div>
                        <div class="specials__prices-list">
                            <div class="specials__prices-item">
                                <div class="specials__prices-item-title">
                                    4 заняття
                                </div>
                                <div class="specials__prices-item-price">
                                    <span class="specials__price-old">₴ 2200</span> <span class="specials__price-new">₴ 1320</span>
                                </div>
                            </div>
                            <div class="specials__prices-item">
                                <div class="specials__prices-item-title">
                                    8 занять
                                </div>
                                <div class="specials__prices-item-price">
                                     <span class="specials__price-old">₴ 3900</span> <span class="specials__price-new">₴ 2340</span>
                                </div>
                            </div>
                            <div class="specials__prices-item">
                                <div class="specials__prices-item-title">
                                    Групові уроки <span class="mobile-hide">(4 заняття)</span>
                                </div>
                                <div class="specials__prices-item-price">
                                    <span class="specials__price-old">₴ 1450</span> <span class="specials__price-new">₴ 870</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>