<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>

    <!-- Android Chrome -->
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('build/favicon/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ asset('build/favicon/android-chrome-512x512.png') }}">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="{{ asset('build/favicon/apple-touch-icon.png') }}">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('build/favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon/favicon-32x32.png') }}">

    <!-- Site Manifest -->
    <link rel="manifest" href="{{ asset('build/favicon/site.webmanifest') }}">

    {{ encore_entry_link_tags('admin_style') }}
</head>
<body>
<div class="wrapper" id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid d-flex align-items-center">
                <div >
                    <a href="/" class="navbar-logo me-3">
                        <img src="{{ asset('build/images/muzone_logo.png') }}" alt="">
                    </a>
                </div>

                <div>
                    <div class="d-flex flex-shrink-1">
                        <button class="btn btn-dark toggle-sidebar "><i class="bi bi-list"></i></button>
                        <button
                                class="navbar-toggler d-lg-none"
                                data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasExample"
                                aria-controls="offcanvasExample"
                                type="button"
                        ><i class="bi bi-list"></i></button>
                    </div>
                </div>
            <div class="dropdown ms-auto">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="user-profile" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ app.user.avatar }}" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong class="mobile-hide">{{ app.user.name }}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark text-small shadow" aria-labelledby="user-profile" style="">
                    <li><a class="dropdown-item" href="#">Налаштування</a></li>
                    <li><a class="dropdown-item" href="#">Профіль</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('logout') }}">Вийти</a></li>
                </ul>
            </div>
    </div>

    </nav>
    <div class="d-flex" >

        <div class="mobile-menu offcanvas offcanvas-start bg-dark text-white"
             tabindex="-1"
             id="offcanvasExample"
             aria-labelledby="offcanvasExampleLabel"
        >
            <div class="offcanvas-header">
                <button type="button" class="btn btn-dark text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </button>
            </div>
            <div class="offcanvas-body">
                {% include 'admin/_menu.html.twig' %}
            </div>
        </div>
        <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar {{ app.session.get('sidebarState') == 'collapsed' ? 'collapsed' : '' }}">
            {% include 'admin/_menu.html.twig' %}
        </div>

        <main  class="d-flex container-fluid">
            {% block content %} {% endblock %}
        </main>
    </div>

</div>
{{ encore_entry_script_tags('admin') }}
{% block javascripts %} {% endblock %}
{{ encore_entry_script_tags('app') }}

</body>
</html>