<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Muzone - нова музична школа для кожного{% endblock %}</title>
        <!-- Android Chrome -->
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('build/favicon/android-chrome-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="512x512" href="{{ asset('build/favicon/android-chrome-512x512.png') }}">

        <!-- Apple Touch Icon -->
        <link rel="apple-touch-icon" href="{{ asset('build/favicon/apple-touch-icon.png') }}">

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('build/favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon/favicon-16x16.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon/favicon-32x32.png') }}">

        <!-- Site Manifest -->
        <link rel="manifest" href="{{ asset('build/favicon/site.webmanifest') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
